@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #82fe06;
}

header>h1 {
  padding: 20px;
  background-color: #008000;
  text-align: center;
  color: #ffffff;
}

header>h2 {
  text-align: center;
  color: #ffffff;
  background-color: #008000;
  padding-bottom: 20px;
}

nav {
  padding: 20px;
  background-color: #ffff00;
}

nav>a {
  padding: 10px;
  text-decoration: none;
  font-weight: bolder;
  color: blue;

}

nav>a:hover {
  background-color: #008000;
  border-radius: 5px;
  color: #ffffff;
}

main {
  max-width: 100vh;
  margin: 0 auto;
  text-align: justify;
  border: 5px solid #008000;
  border-top: none;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
  font-size: 1.1em;
}

.titulo {
  text-align: center;
  border: 1px solid #008000;
  background-color: #008000;
  border-radius: 10px;
  color: #ffffff;

}

.sub-titulo {
  border: 1px solid;
  background-color: #adff2f;
  border-radius: 5px;
  text-indent: 20px;
  margin: 20px 0px 20px 0px;
}

main p {
  text-indent: 20px;
  margin: 20px 0px 20px 0px;
}

.imagem img {
  width: 100%;
}

.imagem-todos>img {
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
  border: 5px solid #008000;
}

.imagem-todos {
  padding-top: 30px;
}

/* footer {
  margin-top: 30px;
  background-color: #008000;
  text-align: center;
  font-size: 1.0em;
  padding: 5px;
} */

footer {
  margin-top: 30px;
  background-color: #008000;
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
}

footer ul {
  color: white;
  font-weight: bolder;
  text-decoration: none;
  list-style-type: none;
}

.grupo-lista {
  margin-left: 30px;
  padding: 20px 0 20px 0;

}

.estadios-lista {
  margin: 30px 0 0 30px;

}

/* .estadios-lista ul {
  margin-block-start: 0.5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 20px
} */

ul {
  margin: 10px 10px 20px 10px;
  padding-left: 15px;

}

.container {
  display: inline-block;

  margin: 20px 20px 20px 20px;
}

div.um {
  display: inline-block;
  vertical-align: top;
}

span {
  font-weight: bolder;
}

.principal {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 100vh;
  border-radius: 0px 0px 10px 10px;
  border: 5px solid #008000;
  border-top: none;
  padding-bottom: 20px;
}

.principal-selecao {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 0px 0px 10px 10px;
  border: 5px solid #008000;
  border-top: none;
  padding-bottom: 20px;
}

#tabelas .tabela,
table {
  margin: auto;
  margin-bottom: 20px;
  border-collapse: collapse;

  text-align: center;
  border: 1px solid #008000;

}

caption {
  margin: 10px 0 10px 0;
  font-size: 1.1em;
  font-weight: bolder;
}

.tabela th {
  padding: 5px 0 5px 0;
  background-color: #008000;
  color: white;
}

.tabela td,
.tabela th {
  padding: 5px;
  border-bottom: 2px solid #008000;
}

.coluna {
  border-right: 2px solid #008000;
}

tbody:hover td[rowspan],
tr:hover td {
  background: #cac5c5;
}