* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #82fe06;

  font-family: Arial, Helvetica, sans-serif;
}

header>h1 {
  padding: 20px;
  background-color: #82fe06;
  text-align: center;
  color: #ffffff;
}

nav {
  padding: 20px;
  background-color: #008000;
}

nav>a {
  color: #ffffff;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}

main {
  width: 100vh;
  margin: 0 auto;
  text-align: justify;
  border: 5px solid #008000;
  border-top: none;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
  background-color: #ffffff;
  font-size: 1.1em;
}

.titulo {
  text-align: center;
  border: 1px solid #008000;
  background-color: #008000;
  border-radius: 10px;
  color: #ffffff;
  margin: 20px 0px 20px 0px;
}

.sub-titulo {
  border: 1px solid;
  background-color: #adff2f;
  border-radius: 5px;
  text-indent: 20px;
  margin: 20px 0px 20px 0px;
}

main p {
  text-indent: 20px;
  margin: 20px 0px 20px 0px;
}

.imagem img {
  width: 100%;
}

footer {
  margin-top: 40px;
  background-color: #008000;
  text-align: center;
  font-size: 1.0em;
  padding: 5px;
}

footer a {
  color: white;
  font-weight: bolder;
  text-decoration: none;
}

.grupo-lista {
  margin-left: 30px;

}

span {
  font-weight: bolder;
}

.tabelas {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100vh;
  border-radius: 0px 0px 10px 10px;
  padding: 20px 0 20px 0;
}

table,
th,
tr,
td {
  border: 1px solid;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

caption {
  margin: 10px 0 10px 0;
  font-size: 1.1em;
  font-weight: bolder;
}

table {
  margin: 0px 25% 0px 25%;
}